/*
*   Button display styles
*
*/

.enp-btns .enp-btn-wrap {
    display: inline-block;
    margin-right: .8em;
}

.enp-btns .enp-btn-wrap:last-child {
    margin-right: 0;
}

.enp-btns .enp-btn {
    overflow: hidden;
    background: #C81C2D;
    padding: .5em .8em .5em .8em;
    border-radius: 3px;
    font-size: 1em;
    line-height: 1.1;
    color: #fff;
    border: none;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: none;
    /* Corrects inability to style clickable 'input' types in iOS */
    -webkit-transition: all .2s;
    transition: all .2s;
}

.enp-btns .enp-btn:hover {
    background: #7B0511;
    color: #fff;
}

.enp-btns .enp-btn:active {
    background: #ffc636;
}

.enp-btns .enp-btn__count {
    background: rgba(0,0,0,.15);
    padding: .5em .6em .5em .8em;
    border-radius: 3px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    position: relative;
    left: .8em;
    margin-left: -.2em;
}

.enp-btns .enp-btn__count--zero {
    display: none;
}
