.enp-respect-button-options {
    max-width: 60em;
}

.enp-btn-table-wrap {
    padding: 1em 2em;
    margin: 1.6em 0;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #aaa;
}

.enp-btn-table-wrap:last-of-type {
    margin-bottom: 4em;
}

form .btn-controls {
    padding-top: 1.6em;
}

.enp-remove-btn {
    position: absolute;
    top: 0.6em;
    right: 1.2em;
    color: #B02432;
    cursor: pointer;
}

.enp-remove-btn:hover {
    color: #F83349;
}

.enp-remove-btn .icon-remove {
    position: relative;
    top: .42em;
    width: 1.7em;
    height: 1.7em;
    fill: #B02432;
}

.enp-remove-btn:hover .icon-remove {
    fill: #F83349;
}

.enp-add-btn {
    position: absolute;
    bottom: 1.3em;
    right: 1.2em;
    color: #2A733C;
    cursor: pointer;
}

.enp-add-btn:hover {
    color: #1E542C;
}

.enp-add-btn .icon-add {
    position: relative;
    top: .42em;
    width: 1.7em;
    height: 1.7em;
    fill: #36924C;
}

.enp-add-btn:hover .icon-add {
    fill: #2A733C;
}


